<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      
      html{font-size: 62.5%;}
      body{width: 90%;font-size: 1.8rem; background-color: rgb(247, 229, 213);}
      .header{
        width: 100%;
        background-color: rgb(219, 180, 146);
        opacity: .8;
        padding: 2rem;
      }
      .imgHeader{
        margin: 2rem auto;
      }
      .main{
        width: 60%;
        margin: 0 auto;
        background-color: #ddd;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
      }
      .contentHello{
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
      }
      .imgHello{
        width: 100%;
        margin: 0 1rem;
      }
      .contentData{
        padding: 2rem;
      }
      .footer{
        width: 100%;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1rem 4rem;
      }
    </style>
  </head>
  <body>

    <header class="header bg-dark">
      <img class="imgHeader" src="./img/minimaliststyle.png" alt="logo">
    </header>

    <main class="main">
      <div class="contentHello">
        <img class="imgHello" src="./img/lince1.png" alt="lince">
        <h1 class="title1 text-primary">Hello, We are glad to see you here</h1>
      </div>
      <div class="contentData">
        <p>This is your code: </p>
      </div>
      <div class="moreInfo">
        <h3>Did you know about our challenges?</h3>
        <p>click the <a href="http://clasiko.es/challenges">HERE</a> to see more about it</p>
      </div>
    </main>

    <footer class="footer">
      <p class="fText">All rights reserved &copy;2021 Minimalis Style</p>
    </footer>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>